; ie_skeleton make file for local development
core = "7.x"
api = "2"

projects[drupal][version] = "7.x"
; include the d.o. profile base
includes[] = "drupal-org.make"

; +++++ TODO modules without versions +++++

projects[labc_addthis][version] = "" ; TODO add version
projects[labc_addthis][subdir] = "custom"

projects[labc][version] = "" ; TODO add version
projects[labc][subdir] = "custom"

; +++++ Libraries +++++

; modernizr
libraries[modernizr][directory_name] = "modernizr"
libraries[modernizr][type] = "library"
libraries[modernizr][destination] = "libraries"
libraries[modernizr][download][type] = "get"
libraries[modernizr][download][url] = "" ; TODO add download URI

